.lot-card {
  background: var(--white);
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 56px;

  &__header {
    margin-bottom: 35px;
  }
  &__header-grid {
    grid-template-columns: auto 1fr;
    display: grid;
    gap: 24px;
    align-items: center;

    .end-counter {
      margin: 0;
    }
  }
  &__body-grid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 0 32px;
    align-items: flex-start;
  }
  &__body-col {
    min-height: 100%;
  }

  .breadcrumbs-link {
    margin-bottom: 19px;
  }
  &__characteristics {
    margin-bottom: 21px;
    td {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      color: var(--graphite);
      padding: 3px 20px;
    }
    td:first-of-type {
      font-weight: 400;
      color: var(--grey);
    }
  }
  &__damage-map {
    margin-bottom: 32px;
    .title {
      font-size: 26px;
      margin-bottom: 33px;
    }

    .button {
      max-width: 100%;
      width: 100%;
      font-size: 14px;
    }
  }
  &__damage-image {
    margin-bottom: 32px;
    a {
      display: block;
    }
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  table {
    width: 100%;
  }

  &__documents {
    .title {
      font-size: 26px;
      margin-bottom: 27px;
    }
  }

  &__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey);
    display: block;
    margin-top: 0;
    margin-bottom: 6px;
  }
  &__leader {
  }
  &__leader-price {
    display: block;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    color: var(--graphite);
    margin-bottom: 31px;
  }

  @media (max-width: 1152px) {
    border-radius: 0;
  }
}
