.lot-card {
  background: var(--white);
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 56px;

  &__header {
    margin-bottom: 35px;
  }

  &__header-grid {
    grid-template-columns: auto 1fr;
    display: grid;
    gap: 24px;
    align-items: center;

    .end-counter {
      margin: 0;
    }
  }

  &__body-grid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 0 32px;
    align-items: flex-start;
  }

  &__body-col {
    min-height: 100%;
  }

  .breadcrumbs-link {
    margin-bottom: 19px;
  }

  &__characteristics {
    margin-bottom: 21px;

    td {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      color: var(--graphite);
      padding: 3px 20px 3px 0;
    }

    td:first-of-type {
      font-weight: 400;
      color: var(--grey);
    }
  }

  &__damage-map {
    margin-bottom: 32px;

    .title {
      font-size: 26px;
      margin-bottom: 33px;
    }

    .button {
      max-width: 100%;
      width: 100%;
      font-size: 14px;
    }
  }

  &__damage-image {
    margin-bottom: 32px;

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  table {
    width: 100%;
  }

  &__documents {
    .title {
      font-size: 26px;
      margin-bottom: 10px;
    }
  }

  &__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey);
    display: block;
    margin-top: 0;
    margin-bottom: 6px;
  }
  &__leader {
    margin-bottom: 21px;
  }

  &__leader-price {
    display: block;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    color: var(--graphite);
    margin-bottom: 6px;
  }
  &__leader-text {
    margin: 0;
  }

  &__contacts-info {
    margin-bottom: 27px;
  }

  &__description {
    margin-bottom: 27px;
  }

  &__get-bet {
    margin-bottom: 33px;
  }

  &__slider {
    margin-bottom: 40px;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;

    .swiper {
      width: 640px;
      height: 490px;
      overflow: visible;
      padding-top: 10px;
    }
    .swiper-wrapper {
      overflow: visible;
    }
    .swiper-button-next {
      right: 56px;
    }
    .swiper-button-prev {
      left: 56px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: gray;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #ffffff;
      width: 100%;
      height: 100%;
      position: relative;
      transition: all 0.3s;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;
      }

      &:hover {
        height: calc(100% + 10px);
        margin-top: -10px;
      }
    }
  }

  &__footer {
    .title {
      font-size: 32px;
    }
  }

  .swiper-pagination {
    bottom: 0;
    right: 2px;
    left: auto;
  }

  @media (max-width: 1152px) {
    border-radius: 0;

    &__slider {
      .swiper-button-next {
        right: 32px;
      }
      .swiper-button-prev {
        left: 32px;
      }
    }
  }

  @media (max-width: 1023px) {
    &__body-grid {
      grid-template-columns: repeat(1, 1fr);
    }

    &__body-col--right {
      order: -1;
      // margin-bottom: 10px;
    }
    &__slider {
      .swiper-button-next {
        right: 24px;
      }
      .swiper-button-prev {
        left: 24px;
      }
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 40px;
    &__header-grid {
      grid-template-columns: 1fr;
      gap: 0;

      .end-counter {
        margin-bottom: 13px;
      }
    }

    &__header {
      margin-bottom: 22px;
    }

    &__slider {
      height: 280px;
      margin-bottom: 25px;
    }

    &__label {
      font-size: 14px;
    }

    &__leader-price {
      margin-bottom: 13px;
    }

    &__get-bet {
      margin-bottom: 25px;
    }

    &__characteristics {
      td {
        padding-right: 16px;
      }
    }

    .sticky {
      position: initial;
    }

    &__description {
      margin-bottom: 12px;
    }

    &__damage-map .title {
      font-size: 20px;
      margin-bottom: 29px;
    }

    &__documents .title {
      font-size: 20px;
    }
    &__footer .title {
      font-size: 25px;
    }
    &__slider {
      .swiper {
        width: 100%;
        height: 280px;
        padding-top: 0;
      }
      .swiper-slide {
        &:hover {
          height: 100%;
          margin-top: 0;
        }
      }
    }
  }
}
