.preview-cards {
  & + & {
    margin-top: 80px;
  }
  .title {
    font-weight: 400;
    font-size: 26px;
    line-height: 154%;
    color: var(--graphite);
    margin: 0;
    margin-bottom: 12px;
    span {
      font-weight: 600;
      color: inherit;
    }
  }

  .card-preview {
    min-height: 100%;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1023px) {
    &__list {
      gap: 24px;
      // grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 767px) {
    .title {
      font-size: 19px;
    }
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
