.showcase {
  &__head {
    margin-bottom: 21px;
  }
  &__footer {


  }
  .pagination {
    padding-top: 48px;
  }

  .custom-select {
  }
  &__head-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
  }

  @media (max-width: 767px) {
    &__head-grid {
      gap: 16px;
      grid-template-columns: repeat(1, 1fr);
    }
    .pagination {
      padding-top: 40px;
    }
    &__head {
      margin-bottom: 30px;
    }
  }
}
