.breadcrumbs-link {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: var(--graphite);
  max-width: max-content;
  padding-left: calc(16px + 24px);
  align-items: center;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='10' viewBox='0 0 26 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25 5L1 5M1 5L5 1M1 5L5 9' stroke='%236F263D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3e%3cpath d='M25 5L1 5M1 5L5 1M1 5L5 9' stroke='black' stroke-opacity='0.2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 8px;
    position: absolute;
    left: 0;
    // transition: all 0.1s;
  }
  &:hover {
    &::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='10' viewBox='0 0 42 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41 5L1 5M1 5L5 1M1 5L5 9' stroke='%23A50034' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
      width: 40px;
      left: 0;
    }
  }
}
