.button {
  text-decoration: none;
  cursor: pointer;
  max-width: max-content;
  font-family: var(--font-family);
  text-align: center;
  transition: all 0.3s;
  box-shadow: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  background-color: transparent;
  height: 56px;
  padding: 10px 14px;

  line-height: 1;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  border-radius: 20px;

  span {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  svg {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: all 0.3s;
    pointer-events: none;
    z-index: 0;
    background-color: var(--violet);
    border-radius: 20px;
  }

  &--small {
    height: 48px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &--full {
    max-width: 100%;
    width: 100%;
  }
  &--shadow {
    &:hover::before {
      box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &--white {
    color: var(--black);
    &::before {
      background-color: var(--white);
    }
  }

  &--green {
    &::before {
      background-color: var(--green);
    }
  }

  &--transparent {
    border-radius: 32px;
    &::before {
      background-color: transparent;
      border: 2px solid var(--white);
      border-radius: 32px;
    }
    &:hover {
      &::before {
        background-color: var(--green);
        border-color: transparent;
      }
    }
  }
  &--big {
    padding-inline: 46px;
  }

  &--icon {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    align-items: center;
  }
  &--icon-solo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    width: 48px;
    height: 48px;
    max-width: initial;
    &::before {
      border-radius: 50%;
    }

    svg {
      display: block;
    }
  }
  &--counter {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    align-items: center;
    padding-inline: 24px;
  }

  .counter {
    border-radius: 50%;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: var(--white);
    display: flex;
    width: 32px;
    height: 32px;
    background-color: var(--violet);
    align-items: center;
    justify-content: center;
  }

  &--long {
    padding-inline: 50px;
  }

  &:hover {
    &::before {
      top: -4px;
      bottom: -4px;
      right: -4px;
      left: -4px;
    }
  }

  &.isActive {
    color: var(--white);
    &::before {
      background-color: var(--green);
    }
  }

  @media (max-width: 1023px) {
    font-size: 14px;
  }

  @media (max-width: 767px) {
    &--icon-solo {
      width: 50px;
      height: 50px;
    }

    &--large {
      height: 50px;
    }
    &--read-more {
      height: 50px;
    }
    &--small {
      height: 45px;
    }
    &--big {
      padding-inline: 16px;
    }
    &--long {
      padding-inline: 20px;
    }
  }
}
