.button {
  text-decoration: none;
  cursor: pointer;
  max-width: max-content;
  font-family: var(--font-family);
  text-align: center;
  transition: all 0.3s;
  box-shadow: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  min-height: 62px;

  line-height: 1;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);

  border-radius: 8px;
  padding: 10px 24px;

  span {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: all 0.3s;
    pointer-events: none;
    z-index: 0;
    background-color: var(--anthracite-red);
    border-radius: 8px;
    border: 1px solid var(--anthracite-red);
  }


  &:hover {
    &::before {
      top: -4px;
      bottom: -4px;
      right: -4px;
      left: -4px;
      background-color: var(--red);
    }
  }

  &--transparent {
    color: var(--graphite);
    &::before {
      background-color: transparent;
      border: 1px solid var(--anthracite-red);
      // border-radius: 32px;
    }
    &:hover {
      &::before {
        border: 1px solid var(--red);
        background-color: transparent;
      }
    }
  }


  @media (max-width: 1023px) {
    font-size: 14px;
    padding-inline: 12px;
  }

  @media (max-width: 767px) {
    &--icon-solo {
      width: 50px;
      height: 50px;
    }

    &--large {
      height: 50px;
    }
    &--read-more {
      height: 50px;
    }
    &--small {
      height: 45px;
    }
    &--big {
      padding-inline: 16px;
    }
    &--long {
      padding-inline: 20px;
    }
  }
}
