.custom-select {
  position: relative;
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  background: #f2f4f4;
  border-radius: 8px;


  &__selected {
    background-color: transparent;
    padding-right: calc(18px + 12px);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    // border: 1px solid var(--line);
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s;
    min-height: var(--input-height);
    font-weight: 600;
    font-size: 18px;
    color: var(--graphite);
    padding: 10px 24px;
    border-radius: 8px;
    border: 1px solid var(--light-grey);

    // height: 56px;
    span {
      margin: 0 !important;
    }

    &:after {
      content: "";
      display: block;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L9 9L17 1' stroke='%23212322' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      width: 18px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      flex-shrink: 0;
      position: absolute;
      right: 20px;
      transition: all 0.3s;
    }
    &:hover {
      border: 1px solid var(--graphite);
      &:after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L9 9L17 1' stroke='%23A50034' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      }
    }
  }

  &__options {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    background-color: var(--white);
    border: 1px solid var(--graphite);
    // border-top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    color: #161616;
    z-index: 20;
    display: none;
    // max-height: 180px;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    transition: all 0.3s;
    padding: 0;
    // padding-top: 3px;
  }
  &__options-scroll {
    overflow: auto;
    display: block;
    max-height: 180px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  &__option {
    padding: 13px 16px;
    width: 100%;
    cursor: pointer;
    display: block;
    // transition: all 0.3s;
    position: relative;
    // z-index: 1;
    font-size: 16px;
    text-transform: initial;
    color: var(--black);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
      bottom: 0;
      height: 100%;
      width: calc(100% - 20px);
      border-bottom: 1px solid var(--light-grey);
      background-color: transparent;
      // transition: all 0.3s;
    }
    span {
      position: relative;
    }

    &:hover {
      // border-bottom: 1px solid transparent;
      // z-index: 2;
      &::before {
        background-color: #f2f4f4;
        left: 0;
        right: 0;
        top: -2px;
        bottom: -2px;
        width: 100%;
        border-top: 1px solid var(--light-grey);
        border-bottom: 1px solid var(--light-grey);
      }
    }
    &:last-of-type::before {
      border-bottom: none;
    }
  }
  &.open {
    // border: 1px solid var(--graphite);

  }

  // активности
  &.open &__selected {
    // background-color: var(--white);
    border-color: var(--text);
    border-radius: 8px 8px 0 0;
  }
  &.open &__options {
    display: block;
    // border-color: var(--text);
  }
  &.open &__selected:after {
    transform: rotate(-180deg);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L9 9L17 1' stroke='%23A50034' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  &__selected {
    &:hover {
      border-color: var(--graphite);
    }
  }

  &__inputs {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  &__input {
    display: block;
    background-color: transparent;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    height: 40px;
    max-width: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    transition: all 0.3s;

    input {
      width: 100%;
      max-width: 100%;
      height: 100%;
      border: none;
      outline: none;
      text-align: left;
      background: transparent;
      padding: 13px 16px;

      font-weight: 600;
      font-size: 18px;
      color: var(--black);
    }
    ::placeholder {
      color: inherit;
    }



    // &:hover:has(input:hover:not(:focus)) {
    //   border: 1px solid var(--green);
    // }

    // &:has(input:focus) {
    //   // outline: none;
    //   border: 1px solid var(--black);
    // }
  }

  @media (max-width: 767px) {
    &__selected {
      padding: 10px 20px;
      font-size: 16px;
    }
    // &__input {
    //   height: 50px;
    // }
  }
}


