.data-table {
  font-size: 16px;
  // border-radius: 8px;
  overflow: auto;

  // border-bottom: none;
  max-width: 100%;
  width: 100%;

  table {
    border-collapse: collapse;
    width: 100%;
    border: none;
  }
  th {
    &:first-of-type {
      border-radius: 8px 0 0 0;
    }
    &:last-of-type {
      border-radius: 0 8px 0 0;
    }
  }

  th,
  td {
    padding: 15px 24px;
    text-align: left;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  th {
    border: none;
    background-color: #f4f4f4;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
  td {
    &:first-of-type {
      border-left: 1px solid #d9d9d9;
    }
    &:last-of-type {
      border-right: 1px solid #d9d9d9;
    }
  }

  b {
    font-weight: 700px;
    color: var(--graphite);
  }

  thead th {
    background-color: var(--graphite);
    color: var(--white);
    // border: 1px solid var(--graphite);
  }

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--anthracite-red);
  }

  &--mod {
    th, td {
      padding: 15px 20px;
    }
  }
  &__id {
    width: 100px;
  }
  &__name {
    width: 150px;
  }
  &__list {
    // width: 210px;
  }
  &__actions {
    width: 140px;
  }
  &__autor {
    width: 235px;
  }
  &__end {
    width: 130px;
  }

  @media (max-width: 650px) {
    table {
      width: max-content !important;
    }

    // th,
    // td {
    //   padding: 12px 10px;
    // }
  }
}
