.data-table {
  font-size: 16px;
  border-radius: 8px;
  overflow: auto;
  border: 1px solid var(--light-grey);
  max-width: 100%;
  width: 100%;

  table {
    border-collapse: collapse;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 15px 24px;
    text-align: left;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  b {
    font-weight: 700px;
    color: var(--graphite);
  }

  thead th {
    background-color: var(--graphite);
    color: var(--white);
    border: 1px solid var(--graphite);
  }

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--anthracite-red);
  }
  &__id {
    width: 90px;
  }
  &__name {
    width: 140px;
  }
  &__list {
    // width: 210px;
  }
  &__actions {
    width: 130px;
  }
  &__autor {
    width: 215px;
  }
  &__end {
    width: 110px;
  }

  @media (max-width: 650px) {
    table {
      width: max-content !important;
    }

    // th,
    // td {
    //   padding: 12px 10px;
    // }
  }
}
