.documents-list {
  list-style: none;
  margin: 0;
  padding: 0;
  // margin-bottom: 32px;
  &__item:not(:first-of-type) &__link {
    border-top: 1px solid var(--light-grey);
  }
  &__link {
    position: relative;
    display: grid;
    gap: 16px;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    padding-top: 17px;
    padding-bottom: 24px;
    &:hover {
      .documents-list__icon::before {
        left: -4px;
        top: -4px;
        right: -4px;
        bottom: -4px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.1457 0H24.0583C5.90164 0 0.0728597 5.78682 0 23.8178C0.0728597 42.3444 5.66849 48 23.9709 48C42.3607 48 47.9271 42.3444 48 23.8178C47.9126 5.56817 42.3461 0 24.1457 0Z' fill='%23A50034' /%3e%3c/svg%3e");
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--white);
    position: relative;
    margin-top: 6px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      transition: all 0.3s;
      pointer-events: none;
      z-index: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.1214 0H20.0486C4.91803 0 0.0607165 4.82235 0 19.8482C0.0607165 35.287 4.72374 40 19.9757 40C35.3005 40 39.9393 35.287 40 19.8482C39.9271 4.64014 35.2884 0 20.1214 0Z' fill='%236F263D' /%3e%3cpath d='M20.1214 0H20.0486C4.91803 0 0.0607165 4.82235 0 19.8482C0.0607165 35.287 4.72374 40 19.9757 40C35.3005 40 39.9393 35.287 40 19.8482C39.9271 4.64014 35.2884 0 20.1214 0Z' fill='black' fill-opacity='0.2' /%3e%3c/svg%3e");
      background-repeat: no-repeat;
    }
    span {
      position: relative;
      margin-left: 4px;
      margin-top: 5px;
    }
  }
  &__name {
    margin: 0;
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: var(--graphite);
    margin-bottom: 5px;
    max-width: max-content;
    word-break: break-all;
  }
  &__info {
    margin: 0;
    display: block;
    max-width: max-content;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);
    b {
      font-weight: 700;
      color: var(--graphite);
    }
  }

  @media (max-width: 767px) {
    // margin-bottom: 20px;
  }
}
