.header-desktop-navigation {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(3, auto);
    max-width: max-content;
  }
  &__link {
    display: block;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white);
    padding-bottom: 9px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 4px;
      background-color: var(--red);
      bottom: 0;
      transition: all 0.3s;
      opacity: 0;
    }
    &:hover {
      svg .cust {
        stroke: #a50034;
      }
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    img {
      display: block;
    }
  }
}
