.header-logo {
  max-width: 323px;
  width: 100%;
  display: flex;
  align-items: center;
  &__link {
    display: block;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
