.inner-content {
  background: var(--white);
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 45px;

  @media (max-width: 1152px) {
    border-radius: 0;
  }



}
