.showcase-item {
  background-color: transparent;
  border-radius: 8px;
  padding: 12px 24px 13px;
  position: relative;
  min-height: var(--min-height);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--white-08);
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    background-color: var(--anthracite-red);
    border-radius: 8px;
  }
  &:hover {
    color: var(--white-08);
    &::before {
      background-color: var(--red);
      border-color: transparent;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
    }
    .custom-select__selected {
      color: inherit;
    }
    // .custom-select__selected:after {
    //   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L9 9L17 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
    // }

    // .custom-select__options {
    //   top: calc(100% + 20px);
    //   left: -28px;
    //   right: -28px;
    // }
  }

  &__grid {
    display: grid;
    gap: 14px;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  &--mod {
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    background: #f2f4f4;
    color: var(--graphite);
    transition: all 0.3s;
    &::before {
      display: none;
    }

    &:hover {
      color: var(--grey);
      border: 1px solid var(--graphite);
      .custom-select__selected:after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L9 9L17 1' stroke='%23A50034' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      }
    }
    &:has(.custom-select.open) {
      border-radius: 8px 8px 0 0;
      border: 1px solid var(--graphite);
    }
  }
  &__group {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  &__label {
  }
  &__icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .custom-select__selected {
    border: none;
    min-height: initial;
  }

  .custom-select {
    background: transparent;
    border-radius: 0;
    border: none;
    z-index: 5;
    position: relative;
    cursor: pointer;
  }
  .custom-select__selected {
    padding: 0;
  }

  .custom-select__selected:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L9 9L17 1' stroke='%23212322' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
    right: 0;
  }
  .custom-select__options {
    top: calc(100% + 13px);
    left: -25px;
    right: -25px;
    border: 1px solid var(--graphite);
    font-size: 18px;
    padding: 10px 0;
  }
  &:has(.custom-select.open) {
    &::before {
      border-radius: 8px 8px 0 0;
    }
  }
  .custom-select__option::before {
    left: 24px;
    right: 24px;
    width: initial;
  }
  .custom-select__option {
    padding: 13px 24px;
  }

  .custom-select__option:hover::before {
    left: 0;
    right: 0;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
  }
  &--mod {
    color: var(--grey);
    &::before {
      background: #f2f4f4;
      border: 1px solid var(--light-grey);
    }
  }
  &__message {
    font-weight: 800;
    font-size: 24px;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    // color: var(--graphite);
  }

  // модификация
  &--active-lots {
    color: var(--graphite) !important;
  }
  &--active-lots::before {
    background-color: var(--yellow-green) !important;
  }

  &--active-lots:hover &__icon svg {
    // filter: invert(1);
  }

  @media (max-width: 1023px) {
    padding: 17px 16px 12px;
    &__grid {
      gap: 16px;
    }
    &__group {
      gap: 8px;
    }
    .custom-select__option {
      padding: 14px 16px;
    }

    .custom-select__options {
      top: calc(100% + 10px);
      left: -17px;
      right: -17px;
    }

    // &:hover .custom-select__options {
    //   top: calc(100% + 16px);
    //   left: -20px;
    //   right: -20px;
    // }
  }
  @media (max-width: 767px) {
    padding: 10px 16px;
    &__grid {
      gap: 14px;
    }
    .custom-select__selected {
      font-size: 16px;
    }

    .custom-select__option {
      font-size: 14px;
      padding: 14px 16px;
    }

    .custom-select__option::before {
      left: 16px;
      right: 16px;
    }
    .custom-select__options {
      padding: 0;
    }
  }
}
