.showcase-item {
  background-color: transparent;
  border-radius: 8px;
  padding: 12px 24px 13px;
  position: relative;
  min-height: var(--min-height);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--white-08);
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    background-color: var(--anthracite-red);
    border-radius: 8px;
  }
  &:hover {
    color: var(--white-08);
    &::before {
      background-color: var(--red);
      border-color: transparent;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
    }
    .custom-select__selected {
      color: inherit;
    }
    .custom-select__selected:after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L9 9L17 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
    }

    .custom-select__options {
      top: calc(100% + 20px);
      left: -28px;
      right: -28px;
    }
  }

  &__grid {
    display: grid;
    gap: 14px;
    grid-template-columns: auto 1fr;
  }
  &--mod {
  }
  &__group {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  &__label {
  }
  &__icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .custom-select {
    background: transparent;
    border-radius: 0;
    border: none;
    z-index: 5;
    position: relative;
    cursor: pointer;
  }
  .custom-select__selected {
    padding: 0;
  }

  .custom-select__selected:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L9 9L17 1' stroke='%23212322' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
    right: 0;
  }
  .custom-select__options {
    top: calc(100% + 17px);
    left: -24px;
    right: -24px;
    border: 1px solid var(--light-grey);
    padding: 0;
  }
  .custom-select__option {
    font-size: 18px;
    padding: 18px 24px;
  }
  &:has(.custom-select.open) {
    &::before {
      border-radius: 8px 8px 0 0;
    }
  }
  &--mod {
    color: var(--grey);
    &::before {
      background: #f2f4f4;
      border: 1px solid var(--light-grey);
    }
  }

  @media (max-width: 1023px) {
    padding: 17px 16px 12px;
    &__grid {
      gap: 16px;
    }
    &__group {
      gap: 8px;
    }
    .custom-select__option {
      padding: 14px 16px;
    }

    .custom-select__options {
      top: calc(100% + 17px);
      left: -16px;
      right: -16px;
    }

    &:hover .custom-select__options {
      top: calc(100% + 16px);
      left: -20px;
      right: -20px;
  }
  }
  @media (max-width: 767px) {
    padding: 10px 16px;
    &__grid {
      gap: 14px;
    }
    .custom-select__selected {
      font-size: 16px;
    }

    .custom-select__option {
      font-size: 14px;
      padding: 14px 16px;
    }
  }
}
