.story-item {
  text-decoration: none;
  display: block;
  padding: 8px 24px;
  background: #f2f4f4;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--grey);
  transition: all 0.3s;
  min-height: 80px;

  &:hover {
    background: var(--white);
    border: 1px solid var(--soft-grey);
  }

  &__grid {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
  }

  &__col {
  }

  &__left {
  }

  &__name {
    display: block;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: var(--graphite);
    margin-bottom: 1px;
  }

  &__city {
    display: block;
  }

  &__center {
    text-align: center;
  }

  &__element {
    display: block;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--graphite);
  }

  &__right {
  }

  &__date {
    display: block;
    text-align: right;
  }

  &__price {
    display: block;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-align: right;
    color: var(--graphite);
  }

  @media (max-width: 767px) {
    padding: 20px;
    &__grid {
      display: grid;
      gap: 0 12px;
      grid-template-columns: 1fr;
      text-align: left;
    }
    &__price {
      text-align: left;
    }
    &__center {
      text-align-last: left;
    }
    &__city {
      margin-bottom: 8px;
    }
  }
}
