.title {
  margin: 0;
  font-style: normal;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  color: var(--graphite);
  & + * {
    margin-top: 1rem;
  }


  @media (max-width: 767px) {
    font-size: 30px;
  }
}
