.user-forget-password {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: right;
  color: var(--anthracite-red);
  margin: 0;
  display: block;
  &:hover {
    text-decoration: underline;
  }
}
