.wrapper {
  max-width: calc(1088px + (32px * 2));
  width: 100%;
  margin-inline: auto;
  padding-inline: 32px;

  @media (max-width: 1152px) {
    max-width: 100%;

  }

  @media (max-width: 767px) {
    padding-inline: 25px;
  }
}
