/* nunito-sans-300 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-300.woff2') format('woff2');
}
/* nunito-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-regular.woff2') format('woff2');
}
/* nunito-sans-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-500.woff2') format('woff2');
}
/* nunito-sans-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-600.woff2') format('woff2');
}
/* nunito-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-700.woff2') format('woff2');
}
/* nunito-sans-800 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-800.woff2') format('woff2');
}
/* nunito-sans-900 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/nunito-sans-v15-cyrillic_latin-900.woff2') format('woff2');
}

// -------------------
@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/TTFirsNeue-Light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/TTFirsNeue-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/TTFirsNeue-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/TTFirsNeue-DemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/TTFirsNeue-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/TTFirsNeue-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/TTFirsNeue-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/TTFirsNeue-Black.woff2') format('woff2');
}
