html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  scrollbar-gutter: stable;
  // scroll-padding-top: var(--header-height);
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  max-width: 100%;
  width: 100%;

  background-color: var(--brand-07);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-grey-medium);
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

figure {
  margin-inline: 0;
}

input,
textarea,
a,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

input,
textarea {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
}

address {
  font-style: normal;
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

h3:not([class]) {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--graphite);
}

h3:not([class]) + ul:not([class]) {
  margin-top: 0;
}

h3:not([class]) + p:not([class]) {
  margin-top: 0;
}

ul:not([class]) {
  list-style: none;
  padding: 0;

  li {
    padding-left: calc(16px + 10px);
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 2px;
      background-color: var(--anthracite-red);
      position: absolute;
      top: 15px;
      left: 0;
    }
  }
}

// Запрещаем изменение размеров текстового поля
textarea {
  resize: none;
}

// Чиним баг задержки смены цвета при взаимодействии с svg-элементами
// svg * {
//   transition-property: fill, stroke;
// }

// отключаем ненужные элементы навигации на яндекс картах
[class*="copyrights-pane"] {
  display: none !important;
}
