:root {
  --font-family: "Nunito Sans", sans-serif;
  --second-family: "TT Firs Neue", sans-serif;

	--graphite: #212322;

	--white: #fff;
  --white-07: rgba(255, 255, 255, 0.7);
  --white-02: rgba(255, 255, 255, 0.2);


	--black: #000;
	--dark-grey-medium: #4d4d4f;
	--grey: #6d6e71;
	--soft-grey: #a7a9ac;
	--light-grey: #d1d3d4;
	--anthracite-red: #6f263d;
	--yellow-green: #e1e000;
	--light-blue: #a0d1ca;
	--forest-green: #004c45;
	--dark-blue: #003e51;
	--purplish-blue: #595478;
	--red: #a50034;


  --inner-padding: 57px;
  --max-width: 1088px;
  --gap: 48px;
  --min-height: 72px;
  --input-height: 56px

  --header-height: 138px;

  @media (max-width: 1152px) {
    --inner-padding: 25px;
    --max-width: 100%;

  }

  @media (max-width: 1023px) {
    --gap: 32px;
    --header-height: 124px;
  }

  @media (max-width: 767px) {
    --gap: 24px;
    --header-height: 60px;
  }
}
