.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cust {
  transition: all 0.3s;
}

.list-reset {
  list-style: none;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: var(--dark-grey-medium);
  li {
    display: grid;
    gap: 24px;
    grid-template-columns: 30px 1fr;
  }
  b {
    font-weight: 700;
    color: var(--anthracite-red);
    display: inline-block;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    li {
      display: grid;
      gap: 15px;
      grid-template-columns: 20px 1fr;
    }
  }
}

@media (max-width: 767px) {
  .mobile-full {
    max-width: 100% !important;
    width: 100% !important;
  }
}

/* Скрывает элементы на экранах с максимальной шириной 767px */
@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
  }
}

/* Скрывает элементы на экранах с шириной от 768px до 1379px */
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet-hide {
    display: none !important;
  }
}

/* Скрывает элементы на экранах с минимальной шириной 1380px */
@media (min-width: 1380px) {
  .desktop-hide {
    display: none !important;
  }
}
