.authorization {
  background-color: var(--graphite);
  background-image: url(../img/authorization/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // min-height: 100vh;
  // min-width: 100vw;
  min-height: 100%;
  min-width: 100%;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .main {
    min-height: initial;
    padding-bottom: 30px;
  }
  .header {
    padding-top: 42px;
    padding-bottom: 30px;
  }
  // &::before {
  //   content: "";
  //   display: block;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-color: #0000007d;
  //   position: absolute;
  // }

  // &::after {
  //   content: "";
  //   display: block;
  //   background-color: var(--graphite);
  //   background-image: url(../img/authorization/background-decorate.svg);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position-x: center;
  //   background-position-y: 0;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   position: absolute;
  // }

  // .main {
  //   position: relative;
  //   z-index: 5;
  // }
  .inner-content {
    padding-top: 56px;
    padding-bottom: 80px;
    border-radius: 20px;

    .contact-form__grid {
      align-items: center;
    }
  }
  .header-desktop-navigation__list {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: 1152px) {
    .header {
      max-width: calc(880px + 32px + 32px);
      padding-inline: 32px;
      padding-bottom: 38px;
    }
    .main {
      max-width: calc(880px + 32px + 32px);
      padding-inline: 32px;
    }
    .inner-content {
      padding-top: 61px;
    }
  }

  @media (max-width: 1023px) {
    .header-logo {
      max-width: 323px;
    }
    .header {
      padding-bottom: 33px;
    }
  }

  @media (max-width: 767px) {
    background-image: url(../img/authorization/bg-mob.jpg);
    .header-desktop-navigation {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 100%;
    }
    .header-desktop-navigation__list {
      max-width: 100%;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
    .header-logo {
      max-width: 100%;
    }
    .header__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 26px;
    }

    .header {
      max-width: 100%;
      padding-inline: 0;
      padding-top: 25px;
      padding-bottom: 20px;
    }
    .main {
      max-width: 100%;
      padding-inline: 25px;
    }
    .header-logo {
      display: flex;
      justify-content: center;
    }
    .inner-content {
      padding-top: 17px;
      padding-bottom: 25px;
    }
  }
}
