.inner-page {
  background-color: var(--graphite);
  background-image: url(../img/background-decorate2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 0;

  &__content {
    padding: 0;
  }

  @media (max-width: 1152px) {
    background-image: none;
  }
}
