.inner-page {
  background-color: var(--graphite);
  background-image: url(../img/background-decorate.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 0;
}
