.personal-account-form {
  margin-top: 56px;
  &--mod {
    margin-top: 0 !important;
  }

  &__group {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    align-items: flex-end;

    &:not(:last-of-type) {
      padding-bottom: 23px;
      border-bottom: 1px solid var(--light-grey);
      margin-bottom: 23px;
    }
  }

  &__col {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;

    label {
      margin-top: 16px;
    }

    // &:not(:last-of-type) {
    //   margin-bottom: 16px;
    // }
  }
  .hidden {
    opacity: 0;
    margin: 0;
  }

  .form-item--short {
    max-width: 50%;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 123%;
    color: var(--graphite);
  }

  &__buttons {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);

    &--mod {
      .button {
        grid-column: 2/3;
      }
    }

    .button {
      max-width: 100%;
      width: 100%;
    }
  }

  &__footer {
    // padding-top: 32px;

    .button {
      max-width: max-content;
      margin-left: auto;
    }
  }

  &__group-mod {
    margin-bottom: 32px;
    margin-top: 24px;
  }
  &__group-mod &__col:not(:last-of-type) {
    margin-bottom: 16px;
  }
  &__footer-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  &__footer-buttons {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    max-width: max-content;
    margin-left: auto;
    .button {
      width: 100%;
      max-width: 224px;
    }
  }

  @media (max-width: 1023px) {
    &__footer-grid {
      grid-template-columns: 1fr;
    }
    &__footer-buttons {
      margin-left: 0;
    }
  }

  @media (max-width: 767px) {
    margin-top: 18px;

    &__grid {
      gap: 15px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__col {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;

      &--mod {
        grid-column: initial;
      }
    }

    &__buttons {
      margin-top: 10px;
      gap: 15px;
    }

    .form-check {
      margin-top: 5px;
    }

    .form-item--short {
      max-width: 100%;
    }
    &__footer {
      .button {
        max-width: 100%;
        width: 100%;
      }
    }
    &__col label {
      margin-top: 0;
    }
    &__footer-buttons {
      grid-template-columns: repeat(1, 1fr);
      max-width: 100%;
      gap: 15px;
      .button {
        max-width: 100%;
        width: 100%;
      }
    }

    .hidden {
      display: none;
    }
  }
}
